<nav class="navbar bg-primary">
    <a class="navbar-brand">ALL YOU CAN EAT BURGERS</a>
</nav>

<div class="container-fluid">
    

    {{!-- CREATE --}}
    <div class="container-fluid">
        <div class="card bg-warning mx-auto w-75 bg-">
            <div class="card-header text-center">
                <h2>Add a Burger</h2>
            </div>
            <div class="card-body bg-warning mx-auto">
                <form class="create-form" action="/" method="POST">
                    <div class="form-group form-control-lg">
                        <p>Name Your Burger:</p>
                        <input type="text" id="ca" name="burger_name">
                        <input type="hidden" name="devoured" value="0">
                    </div>
                    <button class=" btn btn-secondary" type="submit">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>

</div>