body { 
  background: url(/assets/img/burgermenubackground.jpg); 
  opacity: .9;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}


li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background: rgb(245, 25, 54);
  }

  .card-header {
    color:rgb(245, 25, 54)
  }
  
  .form-group {
    margin-bottom: 5px;
  }

