/* body { 
  background: url(/public/assets/img/burgermenubackground.jpg); 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  } */

  body {
    background-color: rgb(255, 119, 13);
  }
  
  img{
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  
  }
  
    
  h1, h2 {
    font-family: 'Bangers', cursive;
    color: white;
  }
  
  p, li{
    font-family: 'Open Sans', sans-serif;
    color: rgb(63, 63, 63);
  }
  
  #banner {
    border-bottom: white;
    
  }
  
  hr {
    margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 3px solid rgb(250, 250, 250);
  } 